@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --background: #14141E;
    --text-color: #FFFFFF;
    --span-color: #FBB453;

}

body {
    background: var(--background);
    overflow-x: hidden;
    transition: .3s ease-in-out;
}

/* .header {
    height: 100vh;
    position: relative;
} */

.center-text {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
    height: 100vh;

}

.center-text h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 60px;
    max-width: 841px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
}

.span-h1 {
    color: var(--span-color);
}

.center-text p {
    color: var(--text-color);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    margin-bottom: 60px
}

.center-link {
    color: var(--text-color);
    padding: 12px 40px;
    border-radius: 365px;
    border: 1px solid var(--text-color);
    font-size: 14px;

}

.center-link img {
    margin-left: 10px;
}

.circle1 {
    border-radius: 651px;
    background: rgba(255, 255, 255, 0.11);
    filter: blur(116px);
    position: absolute;
    width: 651px;
    height: 651px;
    top: -200px;
    right: -200px;
}

.circle2 {
    border-radius: 651px;
    background: rgba(255, 255, 255, 0.11);
    filter: blur(116px);
    position: absolute;
    width: 651px;
    height: 651px;
    bottom: -320px;
    left: -380px;
}

.smile1 :nth-child(1) {
    color: var(--text-color);
    font-size: 14px;

}


.smile1 span {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.smile1 :nth-child(2) {
    margin-top: 3px;
    color: var(--text-color);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 200px;
}

.smile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px 0px 80px;

}

.logo a {
    text-align: center;
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 310px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* gap: 480px; */
}

.bars {
    display: none;

}

.navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.navlink a {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 300;
}

.bar-nav {
    width: 1.5px;
    height: 14px;
    background-color: var(--text-color);
}

.navicon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}

.navbar {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(31, 30, 45, 0.01);
    backdrop-filter: blur(5px);
    margin-top: 40px;
    padding: 10px 80px;
    width: 100%;
    position: sticky;
    top: 0;
}
.section1{
    padding: 150px 80px;
    display: flex;
justify-content: right;
flex-direction: column;
justify-content: flex-end;
flex-shrink: 0;
}

.section1-p{
    max-width: 900px;
    margin: 0 0 0 auto;
color: #FFF;
text-align: right;
font-size: 40px;
font-weight: 700;
}
.section2-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2-header img{
    margin-left: 10px;
}
.section2-header h2{
    color: var(--text-color);
font-size: 40px;
font-weight: 700;

}
.section2-header-p{
    color: var(--text-color);
font-size: 14px;
font-weight: 500;

}
.section2{
    padding: 80px 80px;
   
}
.aboutMeImage{
    width: 350px;

}

.section2-about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 190px;
    color: var(--text-color);
    padding-top: 40px;
}
.section2-text a{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
}
.section2-text p{
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 100;
    margin: 30px 0px;
    line-height: 30px;

}
.section2-text h3{
    font-size: 25px;
}







@media screen and (max-width:1024px) and (min-width:769px) {

    .circle1 {
        display: none;
    }

    .circle2 {
        display: none;
    }

    .smile1 :nth-child(1) {
        font-size: 13px;
    }

    .smile1 span {
        font-size: 13px;
        font-weight: 600;
    }

    .smile1 :nth-child(2) {
        font-size: 13px;
        font-weight: 400;
        max-width: 180px;

    }


    .nav-right {
        gap: 80px;
    }

    .center-text h1 {
        font-size: 50px;
        max-width: 841px;
        margin: 0 auto;
    }

    .center-text p {
        font-size: 13px;
    }

    .center-link {
        padding: 12px 40px;
        font-size: 13px;
    }

    .bars {
        display: inline-block;
        color: var(--text-color);
        font-size: 20px;
    }

    .navlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: -100%;
        background: rgb(31, 30, 45);
        backdrop-filter: blur(5px);
    }
    .navlink a{
        font-size: 16px;
    }

    .navicon {
        gap: 30px;
    }
    .navicon img{
        width: 20px;
    }
    ul.show{
        left: 0;
    }

    .bar-nav {
        width: 80px;
        height: 2px;
    }

    .logo a {
        padding-left: 10px;
    }
    .aboutMeImage{
        width: 315px;
    }
    .section2-about{
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 50px;
    }
}





@media screen and (max-width:768px) and (min-width:481px) {

    .circle1 {
        display: none;
    }

    .circle2 {
        display: none;
    }

    .smile1 :nth-child(1) {
        font-size: 12px;
    }

    .smile1 span {
        font-size: 12px;
        font-weight: 500;
    }

    .smile1 :nth-child(2) {
        font-size: 12px;
        font-weight: 400;
        max-width: 160px;

    }

    .nav-right {
        gap: 80px;
    }

    
    
    .center-text h1 {
        max-width: 700px;
        margin: 0 auto;
        font-size: 45px;

    }

    .center-text p {
        font-size: 14px;
        max-width: 350px;
        margin: 0 auto;
    }

    .center-link {
        padding: 12px 40px;
        font-size: 13px;
        margin-top: 50px;
    }

    .centerlink-a {
        margin-top: 50px;
    }

    .bars {
        display: flex;
        color: var(--text-color);
        font-size: 20px;
    }

    .navlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: -1000px;
        background: rgba(31, 30, 45);
        backdrop-filter: blur(5px);
    }
    .navlink a{
        font-size: 16px;
    }

    .navicon {
        gap: 30px;
    }
    .navicon img{
        width: 20px;
    }
    ul.show{
        left: 0;
    }

    .bar-nav {
        display: none;
    }

    .logo a {
        padding-left: 0;
    }
    .section1-p{
        font-size: 30px;
        font-weight: 600;
    }
    .aboutMeImage{
        width: 300px;
    }
    .section2-about{
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 50px;
    }
    .section2-header h2{
        font-size: 30px;
    }
    .section2-text h3{
        font-size: 20px;
    }
    .section2-text p{
        font-size: 16px;
    }
}

@media screen and (max-width:480px) and (min-width:280px) {
    .circle1 {
        display: none;
    }

    .circle2 {
        display: none;
    }

    .smile1 :nth-child(1) {
        font-size: 11px;
    }

    .smile1 span {
        font-size: 11px;
        font-weight: 500;
    }

    .smile1 :nth-child(2) {
        font-size: 11px;
        font-weight: 400;


    }

    .smile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 30px 40px 0px 40px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .navbar {
        padding: 10px 40px;
    }

    .nav-right {
        gap: 80px;
    }
    .navlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: -1000px;
        background: rgba(31, 30, 45);
        backdrop-filter: blur(5px);
    }
    .navlink a{
        font-size: 16px;
    }

    .navicon {
        gap: 30px;
    }
    .navicon img{
        width: 20px;
    }
    ul.show{
        left: 0;
    }

    .center-text h1 {
        max-width: 400px;
        margin: 0 auto;
        font-size: 25px;

    }

    .center-text p {
        font-size: 12px;
        max-width: 350px;
        margin: 0 auto;
    }

    .center-link {
        padding: 12px 40px;
        font-size: 12px;
        margin-top: 50px;
    }

    .centerlink-a {
        margin-top: 50px;
    }

    .bars {
        display: flex;
        color: var(--text-color);
        font-size: 20px;
    }


    .bar-nav {
        display: none;
    }

    .logo a {
        padding-left: 0;
        font-size: 14px;
        font-weight: 400;
    }
    .section1-p{
        font-weight: 500;
        font-size:20px ;
    }
    .section1{
        padding: 100px 40px;
    }
    .section2-header{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }
    .aboutMeImage{
        width: 250px;
    }
    .section2-about{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
    }
    .section2-header h2{
        text-align: center;
        font-size: 25px;
    }
    .section2-text h3{
        font-size: 18px;
    }
    .section2-text p{
        font-size: 14px;
        text-align: center;
    }
    .section2-text a{
        font-size: 12px;
   
    }
}
