@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --background: #14141E;
    --text-color: #FFFFFF;
    --span-color: #FBB453;

}

body {
    background: var(--background);
    overflow-x: hidden;
    transition: .3s ease-in-out;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

/* .header {
    height: 100vh;
    position: relative;
} */

.center-text {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
    height: 100vh;

}

.center-text h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 60px;
    max-width: 841px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
}

.span-h1 {
    color: var(--span-color);
}

.center-text p {
    color: var(--text-color);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    margin-bottom: 60px
}

.center-link {
    color: var(--text-color);
    padding: 12px 40px;
    border-radius: 365px;
    border: 1px solid var(--text-color);
    font-size: 14px;

}

.center-link img {
    margin-left: 10px;
}

.circle1 {
    border-radius: 651px;
    background: rgba(255, 255, 255, 0.11);
    filter: blur(116px);
    position: absolute;
    width: 477px;
    height: 761px;
    top: -339px;
    right: 0;
}

.circle2 {
    border-radius: 651px;
    background: rgba(255, 255, 255, 0.11);
    filter: blur(116px);
    position: absolute;
    width: 651px;
    height: 651px;
    bottom: -320px;
    left: -380px;
}

.smile1 :nth-child(1) {
    color: var(--text-color);
    font-size: 14px;

}


.smile1 span {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.smile1 :nth-child(2) {
    margin-top: 3px;
    color: var(--text-color);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 200px;
}

.smile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px 0px 80px;

}

.logo a {
    text-align: center;
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 310px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* gap: 480px; */
}

.bars {
    display: none;

}

.navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.navlink a {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 300;
}

.bar-nav {
    width: 1.5px;
    height: 14px;
    background-color: var(--text-color);
}

.navicon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}

.navbar {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(31, 30, 45, 0.01);
    backdrop-filter: blur(5px);
    margin-top: 40px;
    padding: 10px 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.section1 {
    padding: 150px 80px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
}

.section1-p {
    max-width: 900px;
    margin: 0 0 0 auto;
    color: #FFF;
    text-align: right;
    font-size: 40px;
    font-weight: 700;
}

.section2-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2-header img {
    margin-left: 10px;
}

.section2-header h2 {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;

}

.section2-header-p {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;

}

.section2 {
    padding: 80px 80px 80px 80px;

}

.aboutMeImage {
    width: 350px;

}

.section2-about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 190px;
    color: var(--text-color);
    padding-top: 40px;
}

.section2-text a {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
}

.section2-text p {
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 100;
    margin: 30px 0px;
    line-height: 30px;

}

.section2-text h3 {
    font-size: 25px;
}

.section3 h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 40px;
    font-weight: 700;

}

.section3 {
    padding: 80px 80px 80px 80px;
}

.Card-holder {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    /* gap: 190px; */
    align-items: center;
}

.first-card p {
    color: var(--text-color);
    text-align: center;
    padding-top: 20px;
}

.first-card img {
    width: 140px;
}

.section4 {
    padding: 80px 80px;
}

.section4-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}

.section4-header :nth-child(2) img {
    margin-left: 10px;
}

.section4-header :nth-child(2) {
    color: var(--text-color);
    font-size: 14px;
}

.section4-header:nth-child(1) h2 {
    font-size: 40px;
    font-weight: 700;
}

.portfolio-image img {
    width: 400px;
}

.section4-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 130px;
    margin-top: 20px;
}

.section4-links a {
    color: var(--text-color);
    border-radius: 14.5px;
    border: 1px solid #FFF;
    font-size: 10px;
    font-weight: 400;
    padding: 5px 10px;
    margin-bottom: 20px;


}

.section4content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    flex-wrap: wrap;
}

.section4content p {
    color: var(--text-color);
}

.section4content-p1 {
    font-size: 10px;
    font-weight: 400;
}

.section4content-p2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.section4content :nth-child(3) {
    font-weight: 300;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.section4-first-content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 40px 0px;
}

.section4 :nth-child(3) {
    flex-direction: row-reverse;
}

.section4 :nth-child(5) {
    flex-direction: row-reverse;
}

.section5 {
    padding: 135px 80px 80px 80px;
    position: relative;
}

.man-image img {
    position: absolute;
    top: -35px;
    right: 155px;
}

.effect-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.effect-content1 {
    max-width: 100px;
    text-align: center;
}

.effect-content1 :nth-child(1) {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
}

.effect-content1 :nth-child(2) {
    font-size: 13px;
    font-weight: 300;
    color: var(--text-color);
    padding-top: 5px;
}

.glass-effect {
    padding: 45px;
    width: 785px;
    height: 178px;
    flex-shrink: 0;
    border-radius: 48px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.24) 0%, rgba(28, 20, 30, 0.00) 100%);
    backdrop-filter: blur(5px);
    z-index: 9998;
    position: relative;
}

.achivements {
    padding: 0px 55px;
}

.Message-box {
    padding: 45px 55px 0px 55px;
    position: relative;
    z-index: 9997;

}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    border-radius: 15px;
    border: 1px solid #ffffff44;
    width: 584px;
    height: 115px;
    background: rgba(31, 30, 45, 0.01);
    margin-bottom: 45px;
}

textarea::placeholder {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
}

input {
    border-radius: 9px;
    border: 1px solid #ffffff44;
    background: rgba(31, 30, 45, 0.01);
    width: 158px;
    height: 45px;
    color: var(--text-color);
}

input:hover {
    cursor: pointer;
}

.semi-circle {
    border-radius: 651px;
    background: rgba(255, 255, 255, 0.11);
    filter: blur(116px);
    position: absolute;
    width: 1098px;
    height: 343px;
    bottom: -28px;
    right: 136px;
    z-index: 9996;
}

.logo1 a {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}

.icon {
    color: var(--text-color);
    font-size: 20px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(31, 30, 45, 0.01);
    backdrop-filter: (5px);
    margin-top: 40px;
    padding: 10px 80px;
    width: 100%;
}










@media screen and (max-width:1024px) and (min-width:769px) {
    /* 
    .circle1 {
        /* display: none; 
    } */

    .circle2 {
        display: none;
    }

    .smile1 :nth-child(1) {
        font-size: 13px;
    }

    .smile1 span {
        font-size: 13px;
        font-weight: 600;
    }

    .smile1 :nth-child(2) {
        font-size: 13px;
        font-weight: 400;
        max-width: 180px;

    }


    .nav-right {
        gap: 80px;
    }

    .center-text h1 {
        font-size: 50px;
        max-width: 841px;
        margin: 0 auto;
    }

    .center-text p {
        font-size: 13px;
    }

    .center-link {
        padding: 12px 40px;
        font-size: 13px;
    }

    .bars {
        display: inline-block;
        color: var(--text-color);
        font-size: 20px;
    }

    .navlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: -100%;
        background: rgba(31, 30, 45);
        backdrop-filter: blur(5px);
    }

    .navlink a {
        font-size: 16px;
    }

    .navicon {
        gap: 30px;
    }

    .navicon img {
        width: 20px;
    }

    ul.show {
        left: 0;
    }

    .bar-nav {
        width: 80px;
        height: 2px;
    }

    .logo a {
        padding-left: 10px;
    }

    .aboutMeImage {
        width: 50%;
    }

    .section2-about {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 50px;
    }

    .Card-holder {
        flex-wrap: wrap;
        justify-content: center;
        gap: 130px;
    }

    .first-card img {
        width: 130px;
    }

    .section4-first-content {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
        flex-direction: column-reverse;
    }

    .section4 :nth-child(3) {
        flex-direction: column-reverse;
    }

    .section4 :nth-child(5) {
        flex-direction: column-reverse;
    }


    .section4-links {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    .section4-header {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: flex-start;
    }

    .section4-header:nth-child(1) h2 {
        font-size: 30px;
        font-weight: 700;
    }

    .section4-header :nth-child(2) {
        font-size: 13px;
    }

    .portfolio-image img {
        width: 100%
    }

    .man-image img {
        width: 295px;
        top: -140px;
        right: 10px;
    }

    .semi-circle {
        width: 556px;
        height: 308px;
        bottom: -14px;
        right: 150px;
    }

    .achivements {
        padding: 0px;
    }

    .effect-content {
        flex-wrap: wrap;
        gap: 50px;
    }

    .glass-effect {
        padding: 25px;
        width: 550px;
        height: 143px;
    }

    .section5 {
        padding: 44px 80px 0px 80px;
    }

    .Message-box {
        padding: 45px 0px 0px 0px;
    }
}





@media screen and (max-width:768px) and (min-width:481px) {

    /* .circle1 {
        display: none;
    } */

    .circle2 {
        display: none;
    }

    .smile1 :nth-child(1) {
        font-size: 12px;
    }

    .smile1 span {
        font-size: 12px;
        font-weight: 500;
    }

    .smile1 :nth-child(2) {
        font-size: 12px;
        font-weight: 400;
        max-width: 160px;

    }

    .nav-right {
        gap: 80px;
    }



    .center-text h1 {
        max-width: 700px;
        margin: 0 auto;
        font-size: 45px;

    }

    .center-text p {
        font-size: 14px;
        max-width: 350px;
        margin: 0 auto;
    }

    .center-link {
        padding: 12px 40px;
        font-size: 13px;
        margin-top: 50px;
    }

    .centerlink-a {
        margin-top: 50px;
    }

    .bars {
        display: flex;
        color: var(--text-color);
        font-size: 20px;
    }

    .navlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: -1000px;
        background: rgba(31, 30, 45);
        backdrop-filter: blur(5px);
    }

    .navlink a {
        font-size: 16px;
    }

    .navicon {
        gap: 30px;
    }

    .navicon img {
        width: 20px;
    }

    ul.show {
        left: 0;
    }

    .bar-nav {
        display: none;
    }

    .logo a {
        padding-left: 0;
    }

    .section1-p {
        font-size: 30px;
        font-weight: 600;
    }

    .aboutMeImage {
        width: 50%;
    }

    .section2-about {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 50px;
    }

    .section2-header h2 {
        font-size: 30px;
    }

    .section2-text h3 {
        font-size: 20px;
    }

    .section2-text p {
        font-size: 16px;
    }

    .Card-holder {
        flex-wrap: wrap;
        gap: 130px;
    }

    .section3 h2 {
        text-align: center;
        font-size: 30px;
    }

    .first-card img {
        width: 125px;
    }

    .section4-first-content {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
        flex-direction: column-reverse;
    }

    .section4 :nth-child(3) {
        flex-direction: column-reverse;
        font-size: 13px;
    }

    .section4 :nth-child(5) {
        flex-direction: column-reverse;
    }


    .section4-links {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    .section4-header {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: flex-start;
    }

    .section4-header:nth-child(1) h2 {
        font-size: 30px;
        font-weight: 700;
    }

    .section4-header :nth-child(2) {
        font-size: 13px;
    }

    .portfolio-image img {
        width: 100%
    }

    .icon {
        font-size: 18px;
    }

    .logo1 a {
        font-size: 15px;
    }

    .man-image img {
        width: 278px;
        top: -126px;
        right: 10px;
    }

    textarea {
        width: 400px;
    }

    input {
        width: 136px;
    }

    .semi-circle {
        width: 556px;
        height: 308px;
        bottom: -14px;
        right: 150px;
    }

    .achivements {
        padding: 0px;
    }

    .effect-content {
        flex-wrap: wrap;
        gap: 35px;
    }

    .glass-effect {
        padding: 20px;
        width: 400px;
        height: 123px;
    }

    .section5 {
        padding: 44px 80px 0px 80px;
    }

    .Message-box {
        padding: 45px 0px 0px 0px;
    }

    .effect-content1 :nth-child(1) {
        font-size: 35px;
    }

    .effect-content1 :nth-child(2) {
        font-size: 11px;
        max-width: 0;
        text-align: center;
    }

}




@media screen and (max-width:480px) and (min-width:280px) {
    /* .circle1 {
        display: none;
    } */

    .circle2 {
        display: none;
    }

    .smile1 :nth-child(1) {
        font-size: 11px;
    }

    .smile1 span {
        font-size: 11px;
        font-weight: 500;
    }

    .smile1 :nth-child(2) {
        font-size: 11px;
        font-weight: 400;


    }

    .smile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 30px 40px 0px 40px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .navbar {
        padding: 10px 40px;
    }

    .nav-right {
        gap: 80px;
    }

    .navlink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: -1000px;
        background: rgba(31, 30, 45);
        backdrop-filter: blur(5px);
    }

    .navlink a {
        font-size: 16px;
    }

    .navicon {
        gap: 30px;
    }

    .navicon img {
        width: 20px;
    }

    ul.show {
        left: 0;
    }

    .center-text h1 {
        max-width: 400px;
        margin: 0 auto;
        font-size: 25px;

    }

    .center-text p {
        font-size: 12px;
        max-width: 350px;
        margin: 0 auto;
    }

    .center-link {
        padding: 12px 40px;
        font-size: 12px;
        margin-top: 50px;
    }

    .centerlink-a {
        margin-top: 50px;
    }

    .bars {
        display: flex;
        color: var(--text-color);
        font-size: 20px;
    }


    .bar-nav {
        display: none;
    }

    .logo a {
        padding-left: 0;
        font-size: 14px;
        font-weight: 400;
    }

    .section1-p {
        font-weight: 500;
        font-size: 20px;
    }

    .section1 {
        padding: 100px 40px;
    }

    .section2-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .aboutMeImage {
        width: 100%;
    }

    .section2-about {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
    }

    .section2-header h2 {
        text-align: center;
        font-size: 25px;
    }

    .section2-text h3 {
        font-size: 18px;
    }

    .section2-text p {
        font-size: 14px;
    }

    .section2-text a {
        font-size: 12px;

    }

    .Card-holder {
        flex-wrap: wrap;
        justify-content: center;
        gap: 120px;
    }

    .section3 h2 {
        text-align: center;
        font-size: 25px;
    }

    .first-card img {
        width: 120px;
    }

    .section4-first-content {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .section4content {
        align-items: center;
    }

    .portfolio-image img {
        width: 100%;
    }

    .section4 :nth-child(3) {
        flex-direction: column-reverse;
        font-size: 12px;
    }

    .section4 :nth-child(5) {
        flex-direction: column-reverse;
    }


    .section4-links {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }

    .section4-header {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    .section4-header:nth-child(1) h2 {
        font-size: 25px;
        font-weight: 700;
        text-align: center;
    }

    .section4-header :nth-child(2) {
        font-size: 13px;
    }

    .footer-content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .icon {
        font-size: 15px;
    }

    .logo1 a {
        font-size: 13px;
    }

    .man-image img {
        width: 211px;
        top: -113px;
        right: 10px;
    }

    textarea {
        width: 200px;
    }

    input {
        width: 136px;
    }

    .semi-circle {
        width: 556px;
        height: 308px;
        bottom: -14px;
        right: 150px;
    }

    .achivements {
        padding: 0px;
    }

    .effect-content {
        flex-wrap: wrap;
        gap: 35px;
    }

    .glass-effect {
        padding: 20px;
        max-width: 180px;
        height: 210px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section5 {
        padding: 110px 80px 0px 80px;
    }

    .Message-box {
        padding: 45px 0px 0px 0px;
    }

    .effect-content1 :nth-child(1) {
        font-size: 25px;
    }

    .effect-content1 :nth-child(2) {
        font-size: 10px;
        max-width: 0;
        text-align: center;
    }

    form {
        align-content: center;
        flex-wrap: wrap;
    }

}